<!DOCTYPE html>
<html>
<head>
    
    <title> Intrusion Network Detection</title>
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
  </head>
   
  <div class="header">
    <h1 class="logo">Intrusion Network Detection</h1>
  </div>
<style>
*{                        /* selects all elements */
  margin: 0;
  padding: 0;
  font-family: "montserrat",sans-serif;
}
    .header{
  height: 100px;
  background: #34495e; /* Background color of header */
  padding: 0 100px;  /* for equal space between the header i.e. top and bottom padding is 0px right and left padding is 20px */
  color: #fff;  /* for logo color*/
}
.logo{
  line-height: 100px; 
  float: left;
  text-transform: uppercase;
}
body{
  font-family: arial;
}

 input{
  width: 45%;
  box-sizing: border-box;
  padding: 12px 5px;
  border-radius: 5px;
  margin: 5px;
  font-weight: bold;
 }
 
</style>
<div class = "login">
    
 <form action="{{ url_for('predict')}}"method="post"> 
 <hr> 
     <br>
     <br>
  <label for="gender"><b style="font-size:22px;">Protocol_type :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></label>
  <input type="text" name="Protocol_type" required="required"><br><br>
  
  <label for="age"><b style="font-size:22px;">Service :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></label>
  <input type="text" name="Service" required="required"><br><br>
  
  <label for="fever"><b style="font-size:22px;">Flag :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></label>
  <input type="text" name="Flag"  required="required"><br><br>
  
  <label for="dry"><b style="font-size:22px;">Num_failed_logins :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></label>
  <input type="text" name="Num_failed_logins"  required="required"><br><br>
  
    <label for="beathing"><b style="font-size:22px;">Logged_in :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></label>
  <input type="text" name="Logged_in"  required="required"><br><br>
  
    <label for="tiredness"><b style="font-size:22px;">Num_access_files :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></label>
  <input type="text" name="Num_access_files" required="required"><br>  <br>
  
  <label for="soar"><b style="font-size:22px;">Count :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></label>
  <input type="text" name="Count" required="required"><br><br>
  
  <label for="nasal"><b style="font-size:22px;">Srv_count :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></label>
  <input type="text" name="Srv_count"  required="required"><br><br>
  
  <label for="symptoms"><b style="font-size:22px;">Serror_rate :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></label>
  <input type="text" name="Serror_rate"  required="required"><br><br>

  <label for="nasal"><b style="font-size:22px;">Rerror_rate :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></label>
  <input type="text" name="Rerror_rate" required="required"><br><br>
  
  <br>
     <button type="submit" class ="btn" style="background-color:#34495e; color:#FFFFFF; width: 20%; box-sizing: border-box;
  padding: 12px 5px;
  border-radius: 5px;
  margin: 5px;
  font-weight: bold;"> Predict</button>
</form> 
      <br>
    <br>
    <h2 align="center>" {{prediction_text}} </h2>
      </div>

 <br>
    <br>
    <hr>
    <br>

          <br>

</html>